/** colores generales **/
$green-navbar: #1E5B4D;
$cherry: #a42145;
$golden: rgb(188, 149, 91);
$golde-dos: #b58d64;

/** fuentes **/
$font-body: "Montserrat", sans-serif;

/** color texto **/
$gray-txt: #706F6F;
$white-txt: #fff;

%nav-bsr{
    font-family: $font-body;
    color: $white-txt;
    background-color: $green-navbar;
}
