@use "global" as *;

nav {
    background-color: $green-navbar;
    &>div{
        &>div{
            &>ul{
                &>li{ 
                    &>.nav-link{
                        color: $white-txt;
                        &:hover{
                            color:$golden;
                        }
                    }
                    & a{
                        color: $white-txt;
                        &:hover{
                            color:$golden;
                        }

                    }
                }
            }
            &>.actions{
                &>.boton{
                    background-color: $golde-dos;
                    color: $white-txt;
                    border: 1px solid $golden;
                    border-radius: 8px;
                    padding: 12px 14px;
                }
            }
        }

        &>.logo{
            &>img{
                width: 50px;
            }
        }
    }
}

@media (max-width: 575px) {

}

@media (min-widt: 576px) and (max-width: 767px){

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {

}

